@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background: #E98176;
	margin: 0;
}

canvas {
	position: absolute;
}

.actions {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: column;
}

.action-button {
	padding: 10px;
	text-align: center;
	border: 1px solid;
	cursor: pointer;
	background: transparent;
	color: white;
	z-index: 2;
	margin: 5px;
	box-sizing: border-box;
}

.action-button:focus {
	outline: none;
}

/* svg {
	width: 100vw !important;
	height: 100vh !important;
}

svg > g {
	transform: scale(1) !important;
} */
