@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin: 0;
}

canvas {
	position: absolute;
}

.actions {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: column;
}

.action-button {
	padding: 10px;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
	background: transparent;
	color: white;
	z-index: 2;
	margin: 5px;
	box-sizing: border-box;
	transition: all 0.5s;
}

.action-button:focus {
	outline: none;
}

.pink {
	border-color: black;
	color: black;
}

.hidden {
	visibility: hidden;
	width: 0;
	padding: 0;
	margin: 0;
	height: 0;
}

.none {
	display: none;
}

label {
	font-size: 11px;
}

input {
	outline: none;
}
