/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	outline: none;
}

img {
	max-width: 100% !important;
}


/* ICONS SIZE */
i {
	font-size: 24px;
}




/* TOGGLE BLACK AND WHITE TEXT */
.white-text {
	color: white;
	transition: all 0.5s;
}

.black-text {
	color: black !important;
}




/* SECTION PROJECT TITLE (TOP OF THE SITE) */
.project-title {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.project-title h1, .project-title p{
	padding: 10px 20px;
}

#discover {
	position: absolute;
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	animation: inmove 2s infinite;
	transition: all 0.5s;
}




/* SECTION PROJECT DESCRIPTION */
.project-description {
	position: relative;
	padding: 100px 0;
}

.project-description .slide {
	min-height: 100vh;
	width: 100vw;
	padding: 50px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.5s;
	opacity: 0;
}

.project-description .slide.current {
	opacity: 1;
}

.project-description .slide .text-content {
	padding: 0 40px;
	min-height: 80vh;
}

.project-description .slide .text-content h2 {
	margin-bottom: 20px;
}

.project-description .slide img {
	height: 0;
	max-width: 100%;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	transition: all 0.5s;
}

.project-description .current img {
	height: 80vh;
}

.project-description .sliders {
	position: absolute;
	right: 18px;
	bottom: 200px;
}

.project-description .sliders button {
	margin: 0 2px;
	background: white;
	color: black;
	transition: all 0.5s;
	border-color: white;
}

.project-description .sliders button:hover {
	background: transparent;
	color: white;
}



/* BUTTONS */
.fixed {
	position: fixed !important;
	top: 20px;
	left: 20px;
}

.btn-circle {
	text-align: center;
	cursor: pointer;
	background: transparent;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	padding-top: 4px;
	border-radius: 50%;
	z-index: 2;
}

.btn-circle:hover {
	background: white;
	color: black;
}

@keyframes inmove {
    0%   {bottom: 20px;}
    50%  {bottom: 30px;}
    100% {bottom: 20px;}
}





/* SECTION CANVAS */
#project {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
}

.actions {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.action-button {
	padding: 10px;
	text-align: center;
	border: 1px solid white;
	cursor: pointer;
	background: transparent;
	color: white;
	z-index: 2;
	margin: 5px;
	box-sizing: border-box;
	transition: all 0.5s;
}

.action-button:focus {
	outline: none;
}

.black-button {
	border-color: black;
	color: black;
}

.hidden {
	visibility: hidden;
	width: 0;
	padding: 0;
	margin: 0;
	height: 0;
}

.none {
	display: none !important;
}

label {
	font-size: 11px;
}

input {
	outline: none;
}

footer {
	display: flex;
	padding: 40px 20px;
	justify-content: center;
}

@media (max-width:1000px) {

	.project-description .slide {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.project-description .current img {
		height: 50vh;
	}

	.project-description .slide .text-content {
		padding: 20px 10px;
		width: 100%;
		text-align: center;
		min-height: auto;
	}

	.project-description .sliders {
		top: 50%;
		bottom: auto;
		left: 10px;
		right: 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}

}
