/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Roboto:400');
*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	outline: none;
}

img {
	max-width: 100% !important;
}


/* ICONS SIZE */
i {
	font-size: 24px;
}




/* TOGGLE BLACK AND WHITE TEXT */
.white-text {
	color: white;
	transition: all 0.5s;
}

.black-text {
	color: black !important;
}




/* SECTION PROJECT TITLE (TOP OF THE SITE) */
.project-title {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1, p {
		padding: 10px 20px;
	}

	#discover {
		position: absolute;
		bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		animation: inmove 2s infinite;
		transition: all 0.5s;
	}

}

@keyframes inmove {
    0%   {bottom: 20px;}
    50%  {bottom: 30px;}
    100% {bottom: 20px;}
}






/* SECTION PROJECT DESCRIPTION */
.project-description {
	position: relative;
	padding: 100px 0;

	.sliders {
		position: absolute;
		right: 18px;
		bottom: 200px;

		@media(max-width: 1000px) {
			top: 50%;
			bottom: auto;
			left: 10px;
			right: 10px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: flex;
			justify-content: space-between;
		}

		button {
			margin: 0 2px;
			background: white;
			color: black;
			transition: all 0.5s;
			border-color: white;

			&:hover {
				background: transparent;
				color: white;
			}

		}

	}

	.slide {
		min-height: 100vh;
		width: 100vw;
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 0.5s;
		opacity: 0;

		@media(max-width: 1000px) {
			flex-direction: column-reverse;
			justify-content: center;
		}

		.text-content {
			padding: 0 40px;
			min-height: 80vh;

			@media(max-width: 1000px) {
				padding: 20px 10px;
				width: 100%;
				text-align: center;
				min-height: auto;
			}

			h2 {
				margin-bottom: 20px;
			}

		}

		img {
			height: 0;
			max-width: 100%;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			transition: all 0.5s;
		}

		&.current {
			opacity: 1;

			img {
				height: 80vh;

				@media(max-width: 1000px) {
					height: 50vh;
				}

			}

		}

	}

}



/* BUTTONS */
.fixed {
	position: fixed !important;
	top: 20px;
	left: 20px;
}

.btn-circle {
	text-align: center;
	cursor: pointer;
	background: transparent;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	width: 40px;
	height: 40px;
	padding-top: 4px;
	border-radius: 50%;
	z-index: 2;

	&:hover {
		background: white;
		color: black;
	}

}





/* SECTION CANVAS */
#project {
	position: relative;
	height: 100vh;
	overflow: hidden;

	canvas {
		position: absolute;
	}

	.actions {
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		flex-direction: column;
		z-index: 2;

		label {
			font-size: 11px;
		}

		input {
			outline: none;
		}

		.action-button {
			padding: 10px;
			text-align: center;
			border: 1px solid white;
			cursor: pointer;
			background: transparent;
			color: white;
			z-index: 2;
			margin: 5px;
			box-sizing: border-box;
			transition: all 0.5s;

			&:focus {
				outline: none;
			}

		}

	}

}




.black-button {
	border-color: black;
	color: black;
}

.hidden {
	visibility: hidden;
	width: 0;
	padding: 0;
	margin: 0;
	height: 0;
}

.none {
	display: none !important;
}

footer {
	display: flex;
	padding: 40px 20px;
	justify-content: center;
}
